/* /// Clases de estilo de mi programa conecta 4 /// */
/*  ***   style.css   ***
    Basicamente la estructura del CSS es que he centrado todo
    Con contenidos display flex haciendo que todo se situe en el centro
    El resumen es que estan los canvas que interaccionan con el script para
    mostrarse. Además de tener botones invisibles para cuando le des click a
    la columna vertical se posiciones la fitcha.
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.titulo {
    margin-top: 20px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

.inicio {
    margin-top: 5px;
}

.textoElegir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#elegirJugador {
    display: none;
}

.textoJuego {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.textoInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Los dos divs del canvas para darle estilo y superponerlos encima. */

#ficha {
    margin-top: 40px;
    border-radius: 10px;
    border: solid 1px black;
}

#tablero {
    margin-top: 40px;
    border-radius: 10px;
    border: solid 2px rgb(0, 0, 143);
    position: absolute;
    display: block;
    background: transparent;

}

#ganador {
    color: green; 
    font-weight: bold; 
    font-size: 20px
}

.interaccion {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#canvasContainer {
    position: relative;
    display: none;
}

/* 
    Voy a explicar porque todos las clases siguientes son las mismas.
    Estos son los botones que los he posicionado verticalmente y con una altura
    que ocupa de arriba abajo todo el tablero. Estos los he puesto en invisible
    a escepcion de pasar el raton por encima que habilito el texto que es una flecha
    para inidicar visualmente que es la columna donde quieres tirar la fitcha.
    en el tranlateX -50% ahi es donde convertimos el contenedor en vertical.
    En el atributo "left" marcamos el posicionamiento del contenedor.
*/
.colVertical1 {
    position: absolute;
    margin-top: -10px;
    left: 7%;
    width: 70px;
    height: 97%; 
    top: 0; 
    transform: translateX(-50%);
    border: none; 
    padding: 0;
    background: none; 
    color: transparent; 
    cursor: pointer; 
    display: flex;  
    justify-content: center; 
    display: none;
}

.colVertical2 {
    position: absolute;
    margin-top: -10px;
    left: 21.5%;
    width: 70px;
    height: 97%; 
    top: 0; 
    transform: translateX(-50%); 
    border: none; 
    padding: 0; 
    background: none; 
    color: transparent; 
    cursor: pointer; 
    display: flex;
    justify-content: center; 
    display: none;
}

.colVertical3 {
    position: absolute;
    margin-top: -10px;
    left: 36.2%;
    width: 70px; 
    height: 97%; 
    top: 0; 
    transform: translateX(-50%); 
    border: none; 
    padding: 0; 
    background: none; 
    color: transparent; 
    cursor: pointer; 
    display: flex;
    justify-content: center; 
    display: none;
}

.colVertical4 {
    position: absolute;
    margin-top: -10px;
    left: 50.5%;
    width: 70px; 
    height: 97%; 
    top: 0; 
    transform: translateX(-50%); 
    border: none; 
    padding: 0; 
    background: none;
    color: transparent; 
    cursor: pointer; 
    display: flex;
    justify-content: center; 
    display: none;
}

.colVertical5 {
    position: absolute;
    margin-top: -10px;
    left: 65%;
    width: 70px; 
    height: 97%; 
    top: 0; 
    transform: translateX(-50%); 
    border: none; 
    padding: 0;
    background: none; 
    color: transparent; 
    cursor: pointer;
    display: flex;
    justify-content: center; 
    display: none;
}

.colVertical6 {
    position: absolute;
    margin-top: -10px;
    left: 79%;
    width: 70px; 
    height: 97%; 
    top: 0; 
    transform: translateX(-50%); 
    border: none; 
    padding: 0; 
    background: none; 
    color: transparent; 
    cursor: pointer; 
    display: flex;
    justify-content: center; 
    display: none;
}

.colVertical7 {
    position: absolute;
    margin-top: -10px;
    left: 93.2%;
    width: 70px; 
    height: 97%; 
    top: 0;
    transform: translateX(-50%); 
    border: none; 
    padding: 0; 
    background: none; 
    color: transparent; 
    cursor: pointer; 
    display: flex;
    justify-content: center; 
    display: none;
}

.colVertical1:hover,
.colVertical2:hover,
.colVertical3:hover,
.colVertical4:hover,
.colVertical5:hover,
.colVertical6:hover,
.colVertical7:hover {
    font-size: 35px;
    color: rgb(0, 7, 112);
}

/* *** Parte responsive para telefonos *** */

/* Parte responsive para dispositivos móviles, pero el tablero no he podido ajustarlo bien. */

@media only screen and (max-width: 768px) {

    .titulo {
        margin-top: 10px; /* Reducido el margen superior */
    }

    .textoElegir,
    .textoJuego,
    .textoInicio {
        font-size: 18px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #ficha {
        width: 350;
        height: 350;
        margin-top: 20px; /* Reducido el margen superior */
        border-radius: 8px; /* Reducido el radio de borde */
    }

    #tablero {
        width: 350;
        height: 350;
        margin-top: 20px; /* Reducido el margen superior */
        border-radius: 8px; /* Reducido el radio de borde */
        border-width: 1px; /* Reducido el grosor del borde */
    }

    .colVertical1,
    .colVertical2,
    .colVertical3,
    .colVertical4,
    .colVertical5,
    .colVertical6,
    .colVertical7 {
        margin-top: -5px; /* Reducido el margen superior */
        width: 50px; /* Reducido el ancho */
        height: 80%; /* Reducido la altura */
        font-size: 20px; /* Reducido el tamaño de la fuente */
    }

    .colVertical1:hover,
    .colVertical2:hover,
    .colVertical3:hover,
    .colVertical4:hover,
    .colVertical5:hover,
    .colVertical6:hover,
    .colVertical7:hover {
        font-size: 25px; /* Aumentado el tamaño de la fuente al pasar el cursor */
    }
}
